<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Product</title>
  <style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-size: 18px;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /*background-image: url('/images/back2.png');*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
h2{
    color: rgb(226, 216, 216);
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}
.form >a{
  margin-left: 80%;
  text-decoration: none;
  color: rgb(7, 44, 147);
}
.return >a{
  margin-left: 55%;
  text-decoration: none;
  color: rgb(7, 44, 147);
}
.form{
    padding: 20px;
    max-width: 400px;
    width: 100%;
}
.product, .price, .stock, .img, .button{
    margin-bottom: 15px;
    background: none;
}
label{
  display: block;
  justify-content: space-between;
  font-size: 16px;
  color: rgb(18, 93, 224);
}
input[type="text"], input[type="number"]{
   border: 3px solid black;
   border-radius: 18px; 
   width: 100%;
   padding: 10px;
   font-size: 16px;
   outline: none;
   color: rgb(226, 216, 216);
   background-color: rgb(46, 41, 41);
}


  </style>
</head>

<body>
  <div class="container">
    <div class="form">
      <h2>Upload Product</h2>
      <a href="/admin/logout">Logout</a>
     <form action="/admin/upload" method="POST" enctype="multipart/form-data">

       <div class="product">
         <label for="name">Product Name:</label>
         <input type="text" id="name" name="name" required>
       </div>   

        <div class="price">
         <label for="price">Price (INR):</label>
         <input type="number" id="price" name="price" step="0.01" required>
        </div>
       
        <div class="stock">
         <label for="available">Available:</label>
         <input type="checkbox" id="available" name="available">
        </div>
       
        <div class="img">
         <label for="image">Product Image:</label>
         <input type="file" id="image" name="image" accept="image" required>
        </div>
       
        <div class="button">
         <button type="submit">Upload</button>
        </div>

        <div class="return">
          <a href="/admin/user-requests">Back to Customers</a>
        </div>
      </form>
    </div>   
  </div>
</body>
</html>