<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="refresh" content="20">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customers</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "poppins", sans-serif;
        font-size: 18px;
      }
      body{
        background-image: url(/images/back3.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        min-height: 100vh;     
      }
      h2 {
        font-size: 1.8em;
      }
      .inner-container,
      .innermost-container {
        padding: 15px;
        border: 2px solid black;
        border-radius: 6px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 600px;
      }
      .innermost-container {
        backdrop-filter: blur(3px);
        border: 1.5px solid black;
        width: 26rem;
      }
      a {
        text-decoration: none;
        font-weight: bold;
        color: rgba(3, 59, 171, 0.8);
      }
      table {
        padding: 0;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
      }
      th {
        border: 2px solid black;
        border-radius: 6px;
        font-size: 16px;
        font-weight: bold;
        padding: 8px;
        width: 80%;
        background-color: rgb(212, 245, 254);
      }
      td {
        border: 1.5px solid black;
        border-radius: 6px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        padding: 9px;
      }
      td:hover {
        cursor: pointer;
        border-color: rgb(75, 109, 231);
      }
      @media (max-width: 768px){
        body{
          height: 110vh;
        }
        .inner-container{
          width: 25rem;
        }
        .innermost-container{
          width: 23rem;
        }
        table{
          width: 100%;
        }
        th{
          width: auto;
          font-size: 15px;
        }
        td{
          font-size: 14px;
        }
      }
    </style>
    <script
      src="https://kit.fontawesome.com/92d70a2fd8.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="inner-container">
        <h2>
          Customer's Orders
          <i class="fa-solid fa-phone-volume" style="font-size: 0.8em"></i>
        </h2>
        <div class="innermost-container">
          <a href="/admin/logout">Logout</a>
          <table class="box">
            <thead>
              <tr>
                <th>Name <i class="fa-regular fa-user"></i></i></th>
                <th>Phone Number <i class="fa-solid fa-mobile-screen"></i></th>
                <th>Product Name <i class="fa-solid fa-cart-shopping"></i></th>
                <th>Edit <i class="fa-regular fa-pen-to-square"></i></th>
              </tr>
            </thead>
            <tbody>
              <% requests.forEach(request => { %>
              <tr>
                <td><%= request.name %></td>
                <td><%= request.phoneNumber %></td>
                <td><%= request.itemName %></td>
                <td>
                  <a href="/edit-request/<%= request._id %>">Edit</a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          <a href="/admin/upload">Back to Upload</a>
        </div>
      </div>
    </div>
  </body>
</html>
