<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <title>Thank You</title>
  <style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    font-size: 18px;
    }
    .container{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      background-image: url(/images/back5.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
    .header{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: apx solid black;
      border-radius: 8px;
      background-color: rgb(217, 244, 244);
      padding: 30px;
    }
    .tick{
      padding: 20px;
      text-align: center;
      font-size: 4em;
    }
    h1,h2{
    font-size: 1.8em;
    }
    h2{
      font-size: 1.1em;
      font-weight: lighter;
      color: grey;
    }
    a{
      border: 1.8px solid rgb(16, 174, 118);
      padding: 10px;
      border-radius: 8px;
      text-decoration: none;
      background-color: rgb(16, 174, 118);
      color: white;
      font-weight: bold;
      margin-top: 15px;
    }
    a:hover{
      cursor: pointer;
      border-color: aquamarine;
    }
  </style>
  <script src="https://kit.fontawesome.com/92d70a2fd8.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="header">
      <i class="fa-regular fa-circle-check tick"></i>
      <h1>Thank You for Renting!</h1>
      <h2>We will contact you shortly</h2>
      <a href="/">Back to Home</a>
    </div>
  </div>
</body>
</html>
