<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Management</title>
  </head>
  <body>
    <h1>Rules To Be Followed By Employees</h1>
    <h2><u>For the '/admin/user-request' route</u></h2>
    <ul>
      <li>If the order is pending to hand over then : <b>customer-name</b></li>
      <li>
        If the product is on market(using) and used by anyone then :
        <b>customer-name + _ON</b>
      </li>
      <li>If the product is returned then : <b>customer-name + _OK</b> [*]</li>
    </ul>
    <h2><u>For Google Sheet (Product Seller)</u></h2>
    <ul>
      <li>Customer request G-Form <b>Updated in app (yes/no)</b></li>
    </ul>
    <h2><u>For Google Sheet (Product Request)</u></h2>
    <ul>
      <li>Seller request G-Form <b>Updated in app (yes/no)</b></li>
      <li>Seller product count <b>On market / Sold (yes/no)</b></li>
      <li>Returned the product <b>Returned (yes/no)</b> [*]</li>
    </ul>
    <p>[*] is same but for records it's IMP</p>
  </body>
</html>
