<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />

    <title>Management</title>
  </head>
  <body>
    <h1>Rules To Be Followed By Employees</h1>
    <h2><u>For the '/admin/user-request' route</u></h2>
    <ul>
      <li>If the order is pending to hand over then : <b>customer-name</b></li>
      <li>
        If the product is on market(using) and used by anyone then :
        <b>customer-name + _ON</b>
      </li>
      <li>If the product is returned then : <b>customer-name + _OK</b> [*]</li>
    </ul>
    <h2><u>For Google Sheet (Product Seller)</u></h2>
    <ul>
      <li>Customer request G-Form <b>Updated in app (yes/no)</b></li>
    </ul>
    <h2><u>For Google Sheet (Product Request)</u></h2>
    <ul>
      <li>Seller request G-Form <b>Updated in app (yes/no)</b></li>
      <li>Seller product count <b>On market / Sold (yes/no)</b></li>
      <li>Returned the product <b>Returned (yes/no)</b> [*]</li>
    </ul>
    <h2>Work Space</h2>
    <ul>
      <li>
        <a
          href="https://docs.google.com/spreadsheets/d/17jgVlEcLj8AabjySLJep8qBkMlhY_UAoWOWydrQFO1g/edit?resourcekey=&gid=1317731625#gid=1317731625"
          target="_blank"
          rel="noopener noreferrer"
          >Request A Product in EquiSource</a
        >
      </li>
      <li>
        <a
          href="https://docs.google.com/spreadsheets/d/1nNwu0nJZ7biTMVLOEUoWFTAFI6MuUC1Qjw3cuXowGs4/edit?pli=1&gid=186668938#gid=186668938"
          target="_blank"
          rel="noopener noreferrer"
          >EquiSource Seller Products</a
        >
      </li>
      <li>
        <a
          href="http://equisource.duckdns.org:7099/admin/user-requests"
          target="_blank"
          rel="noopener noreferrer"
          >Customers</a
        >
      </li>
      <li>
        <a
          href="http://equisource.duckdns.org:7099/admin/upload"
          target="_blank"
          rel="noopener noreferrer"
          >Product Upload Page</a
        >
      </li>
      <li>
        <a
          href="https://cloud.mongodb.com/v2/66c2ec5999622d3640998117#/metrics/replicaSet/66c2ed360bb9ef17f6dd65d0/explorer/test/items/find"
          target="_blank"
          rel="noopener noreferrer"
          >MongoDB product items table available(true/false)</a
        >
      </li>
    </ul>
    <p>[*] is same but for records it's IMP</p>
  </body>
</html>
