<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Price on EquiSource</title>
</head>
<body>
    <table>
        Fixed Price Table here
    </table>
</body>
</html>