<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Price on EquiSource</title>
    <style>
        th{
            border: 1px solid red;
            padding: 2%;
        }
        td{
            border: 1px solid black;
            padding: 2%;
            text-align: center;
        }
    </style>
  </head>
  <body>
    <h2>
      This is the fixed price of the products you want to sell or buy or rent from here. Best for
      both the customer the seller❤️.
    </h2>
    <table>
      <thead>
        <tr>
          <th>Name of the Product</th>
          <th>Rent Price</th>
          <th>Buy Price</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>ED Kit</td>
            <td>300</td>
            <td>500</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
      </tbody>
    </table>
    <h4>* This chart will update according to the market price.</h4>
    <a href="/">Back to Home</a>
  </body>
</html>
